<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>pinoydev</title>
    <link rel="stylesheet" href="/assets/css/style.css?v=f49a71e6e2339cdf02a55be2015ff4f22fe6fd1a">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>pinoydev</h1>
        <p>gumagawa ng libre para sa taong bayan ng pilipinas</p>         
      </header>
      <section>
        {{ content }}
      </section>
      <footer>        
        <p>This project is maintained by pinoydev.org</p>        
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>  
  </body>
</html>
